* {
    background-color: #f8f9fa;
    font-family: "Orbitron", sans-serif;
    font-weight:600;
    font-style: italic;
    text-align: center;
}
h1{
    color: #343a40;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#board{
    border-radius: 50px;
    z-index: 0;
}
.overz{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    font-size: 90px;
    visibility: hidden;
}
#playAgainBtn {
    background-color: #adb5bd;
    font-size: 30px;
    padding: 10px 20px;
    margin-top: 20px;
}